.coding-font{
    margin-top: 10px;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

/*background and font*/
body {
    background-color: #121010;
    margin: 0; 
    height: 100%; 
    overflow: hidden
}
.logo-home{
    position:fixed;
    margin-top: 0.25%;
    margin-left: 0.5%;
}

  /*header row about, etc */
.about{
    margin-top: 0.5%;
    display:inline-block;    
    margin-left: 81.5%;
    margin-bottom: 10%;

}
.connect{

    display:inline-block;
    margin-left: 1.5%;

}
.switch{
    display:inline-block;  
    margin-left:1.5%; 
}



/*cmd design here*/

.term{
    height: 50%;
    width: 40%;
    border-radius: 25px;
    margin: auto;
}