:root {
    --size: 1.2;
}

.coding-font{
    margin-top: 10px;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    cursor: pointer;
  }

/*background and font*/
body {
    background-color: #181818;
    margin: 0; 
    height: 100%; 
    overflow: hidden
}
.logo-home{
    position:fixed;
    margin-top: 1%;
    margin-left: 0.5%;
}

  /*header row about, etc */
#about{
    font-size: 120%;
    margin-top: 1%;
    display:inline-block;    
    margin-left: 78%;
    margin-bottom: 7%;

}
#connect{
    font-size: 120%;
    display:inline-block;
    margin-left: 2%;

}
#switch{
    font-size: 120%;
    display:inline-block;  
    margin-left:2%; 
}



/*cmd design here*/

.term{
    height: 60%;
    width: 50%;
    margin: auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; 
    
}

#term-top{
    width: 50%;
    height: 5%;
    margin: auto;
    background-color: #343433;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#folder{
    margin-top: 0.7%;
    margin-left: 35%;
}

#green{
    height: 15px;
    width: 15px;
    background-color: #27c83d;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 0.7%;
    margin-left: 0.5%;
}

#yellow{
    height: 15px;
    width: 15px;
    background-color: #feba2b;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 0.7%;
    margin-left: 0.5%;
}

#red{
    height: 15px;
    width: 15px;
    background-color: #fd5e5b;
    margin-bottom: 0.7%;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2%;
}
